{% extends 'base.html.twig' %}

{% block title %}Hello CoachAgendaController!
{% endblock %}

{% block body %}
    <a href="{{ path('app_client_agenda') }}" class="btn btn-sm btn-primary text-white" role="button">
        Back to your calender
    </a>

    <h1 class="font-weight-normal mt-3">Training - {{ client.fullName }} - {{ training.startTime|date('d-m-Y') }}</h1>

    <h3 class="font-weight-normal mt-4">{{ training.title }}</h3>

    <h3 class="font-weight-normal mt-4">Description</h3>

    <p>{{ training.description }}</p>

    <h3 class="font-weight-normal mt-4">Duration</h3>

    <p>
        Proposed duration: {{ training.durationProposed }} <br>
        Actual duration: {{ training.durationActual }} <br>
    </p>

    <h3 class="font-weight-normal mt-4">Comment client</h3>

    <p>{{ training.commentClient }}</p>

    <h3 class="font-weight-normal mt-4">Comment coach</h3>

    <p>{{ training.commentCoach }}</p>

    <a href="{{ path('app_client_training_complete', {'id': training.id}) }}" class="btn btn-info btn-lg btn-block w-100 mt-4" role="button">
        Complete or edit this training
    </a>


{% endblock %}