{% extends 'base.html.twig' %}

{% block title %}Hello CoachAgendaController!
{% endblock %}

{% block body %}
    <a href="{{ path('app_client_training_detail', {'id': training.id}) }}" class="btn btn-sm btn-primary text-white" role="button">
        Cancel
    </a>

    <h3 class="mt-3">Review of training: {{ training.title }}</h3>
    <p>Duration proposed: {{ training.durationProposed }} minutes.</p>


    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.startTime, 'Start: ') }}<br>
        {{ form_widget(form.startTime) }}
    </div>
    <div class="form-group">
        {{ form_row(form.durationActual) }}
    </div>
    <div class="form-group">
        {{ form_row(form.commentClient) }}
    </div>

    {{ form_row(form.save) }}

    {{ form_end(form) }}
{% endblock %}