{% extends 'base.html.twig' %}

{% block title %}Account info
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.firstName) }}
    </div>
    <div class="form-group">
        {{ form_row(form.lastName) }}
    </div>
    <div class="form-group">
        {{ form_row(form.email) }}
    </div>

    {{ form_row(form.save) }}

    {{ form_end(form) }}


{% endblock %}