{% extends 'base.html.twig' %}

{% block title %}Hello EditWeightController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.value) }}
    </div>
    <div class="form-group">
        {{ form_label(form.date, 'Add a date') }}<br>
        {{ form_row(form.date) }}
    </div>

    {{ form_row(form.save) }}

    {{ form_end(form) }}
{% endblock %}
