{% extends 'base.html.twig' %}

{% block title %}Hello CoachAgendaController!
{% endblock %}

{% block body %}

    {% if form is defined %}
        <a href="{{ path('app_coach_client_food', {'id': food.user.id}) }}" class="btn btn-sm btn-primary text-white" role="button">
            Back to the food overview
        </a>
    {% else %}
        <a href="{{ path('app_client_food') }}" class="btn btn-sm btn-primary text-white" role="button">
            Back to your food overview
        </a>
    {% endif %}


    <h1 class="font-weight-normal mt-3">Food - {{ food.title }} - {{ food.user.fullName }} - {{ food.date|date('d-m-Y') }}</h1>

    <h3 class="font-weight-normal mt-4">Description</h3>

    <p>{{ food.description }}</p>

    <h3 class="font-weight-normal mt-4">Comment of coach</h3>

    <p>{{ food.commentCoach }}</p>

    {% if form is defined %}

        {{ form(form) }}

    {% else %}

        <a href="{{ path('app_food_edit', {'id':  food.id}) }}" class="btn btn-sm btn-primary text-white" role="button">
            Edit
        </a>
        <a href="{{ path('app_food_delete', {'id':  food.id}) }}" class="btn btn-sm btn-primary text-white" role="button">
            Delete
        </a>

    {% endif %}




{% endblock %}