{% extends 'base.html.twig' %}

{% block title %}Food
{% endblock %}

{% block body %}
	{{ form_start(dateFilter) }}
	<div class="row mb-4 mt-4 justify-content-lg-start">
		<div class="col-3">
			{{ form_label(dateFilter.date, 'Start') }}:
			{{ form_widget(dateFilter.date) }}
		</div>

		<div class="col-3">
			{{ form_row(dateFilter.send) }}
		</div>

	</div>
	{{ form_end(dateFilter) }}
	<div class="card shadow mb-4">
		<div class="card-header py-3 d-flex justify-content-between">
			<h6 class="m-0 font-weight-bold text-primary">Food overview</h6>
			{% if client is not defined %}
				<a href="{{ path('app_food_add') }}" class="btn btn-sm btn-primary text-white float-end" role="button">Add a meal</a>
			{% endif %}
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
					<div>
						<div class="col-sm-12">
							<table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" style="width: 100%;">
								<thead>
									<tr role="row">
										<th style="width: 15%;">Title</th>
										<th style="width: 15%;">Category</th>
										<th style="width: 55%;">Description</th>
										{% if client is defined %}
											<th style="width: 15%;">Add comment</th>
										{% endif %}
									</tr>
								</thead>
								<tbody>
                                    {% for food in foods %}
                                        <tr>
										    <td>
												{% if client is defined %}
													{{ food.title }}
												{% else %}
													<a href="{{ path('app_food_detail', {'id': food.id}) }}">{{ food.title }}</a>
												{% endif %}
											</td>
											<td>{{ food.category }}</td>
										    <td>{{ food.description }}</td>
											{% if client is defined %}
												<td><a href="{{ path('app_food_detail', {'id': food.id}) }}">Comment</a></td>
											{% endif %}
									    </tr>
                                    {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
