<!DOCTYPE html>
<html>
{% include 'security/head.html.twig' %}
    <body>

     <h2>Your report for {{ date }}</h2>

     <p>Total time proposed by trainer: {{ report.advisedTrainingTime }}</p>
     <p>Total time logged: {{ report.effectiveTrainingTime }}</p>
     <p>Daily average active time: {{ report.dailyAverage }}</p>
     <p>Percentage of trainings started: {{ report.percentageCompleted }}</p>
     <p>Total weight gain/loss this month: {{ report.totalWeightDifference }}</p>
     <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
         {% if report.weightChart is defined %}
             {{ render_chart(report.weightChart, {'class': 'chartjs-render-monitor'}) }}
         {% else %}
             Not enough data for a weight graph
         {% endif %}

     </div>

     <p></p>
    </body>
</html>

