<!DOCTYPE html>
<html>
{% include 'security/head.html.twig' %}
    <body>

     <h2>Your report for {{ report.user.fullname}} - month {{ date }}</h2>

     <p>Total time proposed by trainer: {{ calculateMinutes(report.advisedTrainingTime) }}</p>
     <p>Total time logged: {{ calculateMinutes(report.effectiveTrainingTime) }}</p>
     <p>Daily average active time: {{ calculateMinutes(report.dailyAverage) }}</p>
     <p>Percentage of trainings started: {{ report.percentageCompleted|round(2, 'floor') }}%</p>
     <p>Total weight gain/loss this month: {{ report.totalWeightDifference }} kg</p>

    </body>
</html>

