<!DOCTYPE html>
<html>
{% include 'security/head.html.twig' %}
<body>

    <section class="vh-100">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-6 text-black">

                <div class="px-5 ms-xl-4">
                    <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                    <span class="h1 fw-bold mb-0"></span>
                </div>

                <div class="d-flex align-items-center h-custom-3 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <div style="width: 35rem;">

                        <h2>Token expired</h2>

                        <p>Sorry but your token for registration has expired. Please inform your coach so that they can make a new one.
                            You can also <a href="{{ path('app_register') }}">register</a> already and then they only have to invite you
                        </p>

                    
                    </div>
                    
                    {#<form style="width: 23rem;" action="{{ path('app_login') }}" method="post">

                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

                        <div class="form-outline mb-4">
                        <label class="form-label" for="username">Email address</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control form-control-lg">
                        </div>

                        <div class="form-outline mb-4">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" name="_password" class="form-control form-control-lg">
                        </div>

                        <div class="pt-1 mb-4">
                        <button class="btn btn-info btn-lg btn-block w-100" type="submit">Login</button>
                        </div>

                        <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
                        <p>Don't have an account? <a href="{{ path('app_register') }}" class="link-info">Register here</a></p>

                    </form>#}

                </div>

            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="{{ asset('build/images/pt-photo.jpg') }}"
                alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
            </div>
            </div>
        </div>
    </section>

</body>