{% extends 'base.html.twig' %}

{% block title %}Hello CoachAgendaController!
{% endblock %}

{% block body %}

    <h1>Training - {{ client.fullName }} - {{ training.startTime|date('d-m-Y') }}</h1>

    <h2>{{ training.title }}</h2>

    <h2>Description</h2>

    <p>{{ training.description }}</p>

    <h2>Duration</h2>

    <p>
        Proposed duration: {{ training.durationProposed }} <br>
        Actual duration: {{ training.durationActual }} <br>
    </p>

    <h2>Comment client</h2>

    <p>{{ training.commentClient }}</p>

    <h2>Comment coach</h2>

    <p>{{ training.commentCoach }}</p>

    {{ form(form) }}

    <a href="{{ path('app_coach_training_edit', {'client_id': client.id, 'training_id': training.id}) }}">Edit</a>
    <a href="{{ path('app_coach_training_delete_check', {'client_id': client.id, 'training_id': training.id }) }}">Delete</a>


{% endblock %}