{% extends 'base.html.twig' %}

{% block title %}Account info
{% endblock %}

{% block body %}

    <h1>Account overview</h1>

    <div><b>First name:</b> {{ user.firstName }} </div>

    <div><b>Last name:</b> {{ user.lastName }} </div>

    <div><b>Registered email:</b> {{ user.email }} </div>

    <div class="row mt-4 d-flex justify-content-start">
        <div class="col-2">
            <a href="{{ path('app_account_edit') }}" class="btn btn-sm btn-primary text-white" role="button">Change your info</a>
        </div>
        <div class="col-2">
            <a href="{{ path('app_account_reset_request') }}" class="btn btn-sm btn-primary text-white" role="button">Reset your password</a>
        </div>
    </div>





{% endblock %}